<div>
    
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
            <label>
                Email : 
                <input type="text" formControlName="userName">
            </label>
        </div>
        <div>
            <label>
                Password : 
                <input type="text" formControlName="password">
            </label>
        </div>
        <div>
            <button type="submit" [disabled]="!loginForm.valid">
                Submit
            </button>
        </div>
    </form>

    <div *ngIf='errorMessage'>
        Invalid Credentials !!!
    </div>

</div>